{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript"
    ],
    "rules": {
        "quotes": [1, "double"],
        "indent": [2, 4],
        "vue/html-indent": [2, 4],
        "comma-dangle": [2, {
                "arrays": "only-multiline",
                "objects": "only-multiline"
            }
        ],
        "no-console": 0,
        "vue/attributes-order": 0,
        "spaced-comment": 0
    }
}